/* ============== meadia ==============  */

@media (max-width: 1920px) {

    /* ====== header ====== */

    /* .header__bg-up-img {
        position: absolute;
        top: 2px;
        left: -261px;
        box-shadow: inset 58px 4px 191px 47px #000;
        mix-blend-mode: lighten;
        z-index: -2;
    } */

    .header__bg-up-img {
        left: 200px;
    }
}

@media (max-width: 1800px) {
    .header__bg-up-img {
        left: 100px;
    }
}

@media (max-width: 1700px) {
    .header__bg-up-img {
        left: 0px;
    }
}

@media (max-width: 1600px) {
    .header__bg-up-img {
        left: -100px;
    }
}

@media (max-width: 1500px) {

    /* ====== header ====== */

    @media (max-width: 1500px) {
        .header__bg-up-img {
            left: -263px;
        }
    }

    /* =========== modal-second ============ */


    .modal__form {
        padding-bottom: 5px;
    }

    .modal__form-label-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0px 0 10px;
    }

    .modal__title--second {
        font-weight: 400;
        font-size: 26px;
        text-transform: uppercase;
        max-width: 360px;
        width: 100%;
        padding: 20px 0 20px;
    }

    .modal__button-second {
        padding: 0 15px;
        margin: 10px 0 25px;
    }
}

@media (max-width: 1400px) {

    /* ===== headphone button ===== */

    .headphone-button {
        position: absolute;
        top: 150px;
        left: 10px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
        box-shadow: 0 7px 20px -7px var(--accent-color);
        transition: var(--trans);
        z-index: 5;
    }

    .headphone-button__text {
        position: absolute;
        top: 45px;
        left: 115px;
        /* left: 115px; */
        /* top: 350px; */
        /* left: -23px; */
        transform: rotate(360deg);
        z-index: 2;
        width: 170px;
    }

    /* ===== section (ai-important) ===== */

    .ai-important__block-text img {
        max-width: 240px;
    }

    .ai-important__block-text p {
        max-width: 200px;
    }

    /* ===== footer ===== */

    .footer__copyright::after,
    .footer__copyright::before {
        display: none;
    }
}

@media (max-width: 1200px) {

    /* section (hero) */

    .hero__items {
        font-size: 14px;

    }

    .hero__items .hero__items-one {
        display: flex;
        gap: 10px;
    }

    .hero__items .hero__items-two {
        display: flex;
        gap: 10px;
    }

    .hero__items .hero__items-one {
        display: flex;
        gap: 10px;
    }

    .hero__items-two {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .hero__items .hero__items-two .hero__item {
        padding: 49px 30px 38px 42px;
        max-width: 269px;
        width: 100%;
    }

    .hero__items .hero__items-two .hero__item.hero__item--custom {
        padding: 56px 78px 38px 42px;
        max-width: 269px;
        width: 100%;
    }

    /* ====== section (advertisements) ====== */


    .advertisements__data {
        display: none;
    }

    /* ====== section (vacancies) ====== */

    .vacancies__data {
        display: none;
    }

}

@media (max-width: 1100px) {

    /* ====== section (ai-important) ====== */

    .ai-important__title {
        font-size: 48px;
        justify-self: center;
    }

    .ai-important__inner {
        gap: 20px;
        max-width: 1000px;
        justify-content: center;
    }

    .ai-important__block-text:first-child {
        margin-right: 0px;
    }

    .ai-important__block-text:last-child {
        margin-left: 35px;
    }

    .ai-important__block-text:nth-child(3) {
        margin-left: 35px;
    }

    /* ====== section (about-course) ====== */

    .about-course__title {
        font-size: 52px;
    }

    .accordion-list__control-block {
        display: none;
    }

    /* ====== section (author) ====== */

    .main__author::before {
        display: none;
    }

    .author__inner {
        gap: 45px;
    }
}

@media (max-width: 900px) {

    /* ====== header ====== */

    .header__bg-left-img {
        display: none;
    }

    .header__bg-up-img {
        display: none;
    }

    .header__img-ner {
        max-width: 1211px;
        /* display: none; */
    }

    .header__img-ner {
        opacity: 0.5;
    }

    .header__section {
        display: flex;
        justify-content: center;
        margin: 0px 0 90px 0;
        z-index: 1;
    }

    /* ====== section (hero) ====== */

    .hero__items-one,
    .hero__items-two {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    /* ====== section (about-ai) ====== */

    .about-ai__wrapper::after {
        display: none;
    }

    .about-ai__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-ai__title {
        font-size: 38px;
        max-width: 640px;
    }

    /* ====== main (about-us) ====== */

    .about-us__wrapper::after {
        display: none;
    }

    .about-us__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us__title {
        font-size: 38px;
        max-width: 640px;
    }

    /* ====== section (about-course) ====== */

    .about-course__title {
        font-size: 40px;
    }

    .about-course__title span {
        font-size: 40px;
    }

    .accordion-list__control {
        position: relative;
    }

    .accordion-list__control::after {
        content: '';
        position: absolute;
        top: 28px;
        right: 20px;
        width: 14px;
        height: 11px;
        background: url('../img/icons/buttons/acc-down-arrow.svg') no-repeat;
    }

    .accordion-list__control::after {
        transition: var(--trans);
    }


    .accordion-list__item--opened .accordion-list__control::after {
        transition: var(--trans);
        transform: rotate(180deg);
    }

    .accordion-list__control-icon-inner {
        display: none;
    }

    /* ====== section (author) ====== */

    .author__about-title {
        font-size: 40px;
    }


    /* ======= section (advertisements) ======== */

    .advertisements__title {
        font-size: 40px;
    }

    .advertisements__button {
        max-width: 160px;
        width: 100%;
        height: 40px;
        font-size: 9px;
    }

    /* ====== section (vacancies) ======  */

    .vacancies__title {
        font-size: 40px;
    }

    .vacancies__button {
        max-width: 160px;
        width: 100%;
        height: 40px;
        font-size: 9px;
    }

    /* ====== footer ====== */

    .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 65px 0 57px;
        gap: 20px;
    }




}

@media (max-width: 700px) {

    /* ====== header ====== */

    .section__opening {
        text-align: center;
    }

    .section__opening span {
        color: var(--accent-text);
    }

    .section__opening-title {
        font-size: 84px;
    }

    .section__opening-subtitle {
        max-width: 400px;
        justify-self: center;
        font-size: 14px;
        max-width: 300px;
    }

    .section__guarantee {
        justify-self: center;
        text-align: center;
    }

    .section__guarantee-img {
        display: none;
    }

    .header__button {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .header__button-first {
        max-width: 400px;
        width: 100%;
    }

    /* ====== section (ai-important) ====== */

    .ai-important__title {
        font-size: 40px;
        justify-self: center;
    }

    /* ====== section (about-us) ====== */

    .about-us__description {
        font-weight: 400;
        font-size: 14px;
    }

    .about-us__description img {
        width: 28px;
        height: 28px;
    }

    /* ====== section (author) ====== */

    .author__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;
        padding-top: 80px;
    }

    .author__about-author {
        position: relative;
        width: 300px;
    }

    /* ======= section (advertisements) ======== */

    .advertisements__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 91px 0 49px;
    }

    /* ====== section (vacancies) ======  */

    .vacancies__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 91px 0 49px;
    }



    /* ====== footer ====== */

    .footer__logo {
        align-self: center;
    }

    .footer__top {
        gap: 40px;
    }

    .footer__contacts {
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .footer__contacts span:nth-child(3) {
        display: none;
    }

    .footer__mail {
        padding: 0;
    }

    .footer__bottom {
        align-self: center;
    }
}

@media (max-width: 600px) {

    /* === headphone button === */

    .headphone-button {
        position: absolute;
        top: 200px;
        left: 0px;
    }

    /* ======= header ======= */

    .header__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section__opening-title {
        font-size: 54px;
    }

    .section__guarantee {
        display: flex;
        gap: 33px;
        padding-bottom: 50px;
    }

    .section__guarantee-text span {
        display: inline-block;
        font-size: 14px;
    }


    .header__button-second {
        display: none;
    }

    /* === section (hero) === */


    .hero__title {
        font-size: 37px;
        max-width: 530px;
    }

    /* ====== section (about-ai) ====== */

    .about-ai__title {
        font-size: 30px;
        max-width: 640px;
    }

    /* ====== section (ai-important) ====== */

    .ai-important__title {
        font-size: 30px;
        justify-self: center;
    }

    .ai-important__block-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ai-important__block-text:nth-child(n + 3) {
        flex-direction: column;
        padding-top: 0px;
    }

    .ai-important__block-text:last-child {
        margin-left: 0px;
    }

    .ai-important__block-text:nth-child(3) {
        margin-left: 0px;
    }

    /* ====== section (about-us) ====== */

    .about-us__title {
        font-size: 30px;
        max-width: 470px;
    }

    .about-us__info {
        padding-bottom: 100px;
    }

    /* ====== section (about-course) ====== */

    .about-course__title {
        font-size: 30px;
    }

    .about-course__title span:first-child {
        font-size: 30px;
    }

    .about-course__text span {
        font-size: 14px;
    }

    .accordion-list__control-title {
        max-width: 270px;
        width: 100%;
    }

    /* ====== section (advertisements) ====== */

    .advertisements__title {
        font-size: 29px;
    }

    /* ====== section (vacancies) ======  */

    .vacancies__title {
        font-size: 29px;
    }
}



@media (max-width: 400px) {

    /* ====== header ====== */

    .header__button-first {
        height: 40px;
        font-size: 13px;
    }

    /* === section (hero) === */

    .hero__title {
        font-size: 33px;
        max-width: 530px;
    }

    /* ====== section (about-ai) ====== */

    .about-ai__title {
        font-size: 24px;
        max-width: 500px;
    }

    /* ====== section (ai-important) ====== */

    .ai-important__title {
        font-size: 26px;
    }

    /* ====== section (about-us) ====== */

    .about-us__title {
        font-size: 33px;
        max-width: 350px;
    }

    .about-us__description {
        margin-bottom: 60px;
    }

    /* ====== section (about-course) ====== */

    .accordion-list__control::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 20px;
        width: 14px;
        height: 11px;
        background: url('../img/icons/buttons/acc-down-arrow.svg') no-repeat;
    }

    /* ====== footer ====== */

    .footer__copyright {
        font-size: 14px;
    }
}