/* ========= main (hero) ========== */

.main__hero {
    background: linear-gradient(313deg, #043a41 0%, #022335 100%);

}

.hero__title {
    font-weight: 500;
    font-size: 54px;
    text-transform: uppercase;
    max-width: 530px;
    padding-bottom: 58px;
    padding: 124px 0 0;
}

.hero__title span {
    color: var(--accent-sec-text);
}

.hero__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 58px 0 121px;
    gap: 20px;
}

.hero__items-one {
    display: flex;
    gap: 20px;
    width: 100%;
}

.hero__items-two {
    display: flex;
    gap: 20px;
}

.hero__item {
    border-radius: 20px;
    max-width: 285px;
    background: linear-gradient(#043A41, #043A41) padding-box, linear-gradient(to bottom left, rgba(0, 224, 255, 0.1) 0%, rgba(0, 224, 255, 0.5) 50%, rgba(0, 224, 255, 0.1) 100%) border-box;
    border: 0.5px solid transparent;
    position: relative;
    z-index: 3;
}

.hero__item img {
    padding-bottom: 19px;
}

.hero__item {
    padding: 40px 30px 40px 40px;
    max-width: 285px;
    width: 100%;
}

.hero__items-two .hero__item {
    padding: 49px 78px 38px 42px;
    max-width: 386px;
    width: 100%;
}

.hero__items-two .hero__item:first-child {
    padding: 56px 78px 38px 42px;
    max-width: 386px;
}

.hero__item::after {
    content: "";
    background-image: url('../img/decor/firefly.svg');
    position: absolute;
    width: 63px;
    height: 32px;
    left: 15px;
    bottom: -20px;
}

.first-anim:hover::after {
    animation: moveleftRight 2.5s ease-in-out infinite;
}

@keyframes moveleftRight {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(200px);
    }

}

.second-anim:hover::after {
    animation: moveleftRightSecond 3s ease-in-out infinite;
}

@keyframes moveleftRightSecond {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(300px);
    }
}

/* ====== main(about-ai) ====== */

.main__about-ai {
    background: var(--accent-bg);
    position: relative;
}

.about-ai__wrapper::after {
    position: absolute;
    content: " ";
    bottom: 65px;
    right: 0;
    max-width: 937px;
    width: 100%;
    max-height: 627px;
    height: 100%;
    background: url("../img/decor/bg-ai.png");
    box-shadow: inset 0 0 110px 14px #000;
    mix-blend-mode: lighten;
}

.about-ai__inner {
    padding: 117px 0 109px;
}

.about-ai__title {
    font-weight: 500;
    font-size: 54px;
    max-width: 750px;
    text-transform: uppercase;
    color: #4abcec;
}

.about-ai__title span {
    color: var(--accent-text);
}

.about-ai__info-inner {
    padding: 64px 0 69px;
}

.about-ai__info {
    display: flex;
    max-width: 710px;
    gap: 20px;

}

.block1,
.block2,
.block3,
.block4 {
    background: linear-gradient(90deg, rgba(31, 63, 77, 0.54) 0%, rgba(31, 75, 94, 0) 100%);
    margin-bottom: 5px;
    padding: 20px 0 20px 20px;
    /* padding-top: 15px; */
}


.about-ai__info img {
    align-self: start;
}

.info__text {
    align-self: center;
    position: relative;
}

.info__text::after {
    content: "";
    background-image: url('../img/decor/firefly.svg');
    position: absolute;
    top: -5px;
    left: -15px;
    width: 63px;
    height: 32px;
    z-index: 1;
}

/* ===== main (ai-important) ====== */

.main__ai-important {
    background: var(--accent-bg-second);

}

.ai-important__title {
    padding-top: 105px;
}

.ai-important__title span {
    color: var(--accent-text);
}

.ai-important__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 46px 0 129px;
}

.ai-important__block-text {
    display: flex;
    gap: 20px;
}

.ai-important__block-text p {
    align-self: center;
}

.ai-important__block-text:first-child {
    margin-right: 42px;
}

.ai-important__block-text:last-child {
    margin-left: 74px;
}

.ai-important__block-text:nth-child(3) {
    margin-left: 49px;
}

.ai-important__block-text:nth-child(-n + 2) {
    max-width: 568px;

}

.ai-important__block-text:nth-child(n + 3) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 46px;
    max-width: 531px;
}

/* ====== main (about-us) ====== */

.main__about-us {
    background: var(--accent-bg);
    position: relative;
}

.about-us__wrapper::after {
    position: absolute;
    content: '';
    bottom: 50px;
    /* right: -350px; */
    right: -100px;
    max-width: 937px;
    width: 100%;
    max-height: 709px;
    height: 100%;
    background: url("../img/decor/bg-brain.png");
    box-shadow: inset 100px 0 143px 76px #000;
    mix-blend-mode: lighten;
    z-index: 0;
}



.about-us__inner {
    padding: 104px 0 116px;
}

.about-us__title {
    max-width: 871px;
}

.about-us__title span {
    color: var(--accent-text);
}

.about-us__info {
    padding-bottom: 53px;
}

.about-us__description {
    display: flex;
    gap: 21px;
    height: 52px;
    max-width: 690px;
    margin: 38px 0 25px;
}



.about-us__description:first-child {
    height: 36px;
}

.about-us__description:last-child {
    height: 98px;
    margin: 0;
}

.about-us__description img {
    align-self: start;
}

.about-us__description p {
    font-weight: 500;
    line-height: 1.44;
    padding-top: 11px;
    position: relative;
}

.about-us__description p::after {
    content: "";
    background-image: url('../img/decor/firefly.svg');
    position: absolute;
    top: 6px;
    left: -15px;
    width: 63px;
    height: 32px;
    z-index: 1;
}

/* ========== section (about-course) ========== */

.main__about-course {
    background: var(--accent-bg-second);
}

.about-course__inner {
    padding: 103px 0 109px;
}

.about-course__text span {
    font-weight: 500;
    font-size: 18px;
    color: var(--accent-text);
}


.about-course__title {
    font-weight: 500;
    font-size: 54px;
    text-transform: uppercase;
}

.about-course__title span {
    text-transform: uppercase;
    font-size: 54px;
    color: var(--accent-text);
}


.content--show {
    display: block;
    margin-top: 30px;
}

.accordion-list {
    margin-top: 27px;
}

.accordion-list__item {
    margin-top: 18px;
}

.accordion-list__control {
    display: flex;
    align-items: center;
    gap: 16px;
    background: linear-gradient(313deg, #073447 0%, #08262b 100%);
    width: 100%;
    height: 56px;
}


.accordion-list__control-title {
    font-weight: 750;
    font-size: 20px;
    line-height: 1.05;
    max-width: 380px;
    width: 100%;
}

.accordion-list__control-title span {
    font-weight: 500;
    font-size: 15px;
    color: #08b1b9;
    padding-left: 5px;

}

.control-title {
    max-width: 420px;
    width: 100%;
}


.content--block {
    max-width: 102px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.62;
    padding: 4px 0px 4px 4px;
    text-transform: uppercase;
    color: #08262b;
    background: #00e0ff;
}

.accordion-list__control-icon-inner {
    max-width: 777px;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: end;
}

.accordion-list__control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    background: linear-gradient(#043A41, #043A41) padding-box, linear-gradient(to bottom left, rgba(0, 224, 255, 0.1) 0%, rgba(0, 224, 255, 0.5) 50%, rgba(0, 224, 255, 0.1) 100%) border-box;
    border: 1px solid transparent;
    position: relative;
}

.accordion-list__control-icon::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 7.5px;
    width: 14px;
    height: 10px;
    background: url('../img/icons/buttons/acc-down-arrow.svg') no-repeat;

}

.accordion-list__control-icon::after {
    transition: var(--trans);
}


.accordion-list__item--opened .accordion-list__control-icon::after {
    transition: var(--trans);
    transform: rotate(180deg);
}

/* === accordion content === */

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--trans);
}

.accordion__content-inner {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 0 14px;
}

.accordion__content-inner:first-child {
    padding-top: 34px;
}

.accordion__content-numeration {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4abcec;
}

.accordion__content-numeration span {
    font-weight: 750;
    font-size: 14px;
    line-height: 1.5;
    color: #08262b;
}

.accordion__content-title {
    font-weight: 750;
    line-height: 1.31;
    color: var(--accent-sec-text);
}

.accordion__content-text {
    padding: 0 0 40px 43px;
}

.about-course__button {
    margin-top: 59px;
}

/* ============= section (author) ============== */

.main__author {
    background: var(--accent-bg);
    position: relative;
}

.main__author::before {
    position: absolute;
    content: '';
    background-image: url(../img/content/author/bg-author.png);
    top: 100px;
    left: 555px;
    max-width: 1084px;
    height: 610px;
    box-shadow: inset 10px 0 16px 41px #08262b;
    mix-blend-mode: lighten;
}

.author__inner {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 100px 0 0;
}

.author__about {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.author__about-title {
    font-weight: 500;
    font-size: 54px;
    text-transform: uppercase;
}

.author__about-info {
    max-width: 505px;
    padding-bottom: 100px;
}

.author__about-author {
    position: relative;
    width: 441px;
}

.author__about-name {
    position: absolute;
    bottom: 100px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.author__about-author img {
    width: 100%;
}

.author__about-name span:first-child {
    font-weight: 750;
    font-size: 24px;
    line-height: 83%;
    color: var(--accent-color);
}

.author__about-name span:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
}

/* ============== section (advertisements) ================ */


.main__advertisements {
    background: var(--accent-bg-second);
}

.advertisements__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 91px 0 49px;
}

.advertisements__title {
    color: var(--accent-text);
}


/* ============================== */

.advertisements__slider {
    padding-bottom: 84px;
}

.advertisements__slide {
    max-width: 387px;
    margin: 0;
}

.advertisements__img {
    width: 100%;
    position: relative;
}

.advertisements__data {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.75;
    text-align: right;
}

.advertisements__info-title {
    font-weight: 750;
    line-height: 1.31;
    padding: 29px 0 18px;
}

.advertisements__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    max-width: 387px;
}

/* .advertisements__text span {
    background: linear-gradient(180deg, #bdb8b8 50.96%, rgba(105, 104, 104, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.advertisements__text-second {
    padding-top: 10px;
    max-width: 387px;
    max-height: 0;
    overflow: hidden;
    transition: var(--trans);
}


.advertisements__text-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 175%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4abcec;
    background: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.advertisements__prev {
    position: absolute;
    top: 118px;
    left: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}

.advertisements__next {
    position: absolute;
    top: 118px;
    right: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}


.advertisements__prev:hover,
.advertisements__next:hover {
    background: var(--accent-color);

}
/* ============== section (vacancies) ================ */


.main__vacancies {
    background: var(--accent-bg);
}

.vacancies__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 91px 0 49px;
}

.vacancies__title {
    color: var(--accent-text);
}


/* ============================== */

.vacancies__slider {
    padding-bottom: 84px;
}

.vacancies__slide {
    max-width: 387px;
    margin: 0;
}

.vacancies__img {
    width: 100%;
    position: relative;
}

.vacancies__data {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.75;
    text-align: right;
}

.vacancies__info-title {
    font-weight: 750;
    line-height: 1.31;
    padding: 29px 0 18px;
}

.vacancies__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    max-width: 387px;
}

/* .vacancies__text span {
    background: linear-gradient(180deg, #bdb8b8 50.96%, rgba(105, 104, 104, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.vacancies__text-second {
    padding-top: 10px;
    max-width: 387px;
    max-height: 0;
    overflow: hidden;
    transition: var(--trans);
}


.vacancies__text-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 175%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4abcec;
    background: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.vacancies__prev {
    position: absolute;
    top: 118px;
    left: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}

.vacancies__next {
    position: absolute;
    top: 118px;
    right: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}


.vacancies__prev:hover,
.vacancies__next:hover {
    background: var(--accent-color);
}
/* ============== section (advertisements) ================ */


.main__advertisements {
    background: var(--accent-bg-second);
}

.vacancies__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 91px 0 49px;
}

.vacancies__title {
    color: var(--accent-text);
}


/* ============================== */

.vacancies__slider {
    padding-bottom: 84px;
}

.vacancies__slide {
    max-width: 387px;
    margin: 0;
}

.vacancies__img {
    width: 100%;
    position: relative;
}

.vacancies__data {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.75;
    text-align: right;
}

.vacancies__info-title {
    font-weight: 750;
    line-height: 1.31;
    padding: 29px 0 18px;
}

.vacancies__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    max-width: 387px;
}

/* .vacancies__text span {
    background: linear-gradient(180deg, #bdb8b8 50.96%, rgba(105, 104, 104, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.vacancies__text-second {
    padding-top: 10px;
    max-width: 387px;
    max-height: 0;
    overflow: hidden;
    transition: var(--trans);
}


.vacancies__text-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 175%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4abcec;
    background: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.vacancies__prev {
    position: absolute;
    top: 118px;
    left: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}

.vacancies__next {
    position: absolute;
    top: 118px;
    right: 50px;
    padding: 31px;
    border-radius: 100%;
    background: #0000006b;
    transition: var(--trans);
}


.vacancies__prev:hover,
.vacancies__next:hover {
    background: var(--accent-color);
}