.footer {
    background-color: #AB8261;
    color: var(--bg-color);
    padding: 0 0 66px;
}

.footer__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
    justify-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.footer__column {
    padding-top: 60px;
    -ms-grid-column-align: start;
    justify-self: start;
}

.footer__column:first-child {
    max-width: 241px;
    width: 100%;
    margin-right: 56px;
    padding-top: 0;
    margin-top: 30px;
}

.footer__column:last-child {
    -ms-grid-column-align: end;
    justify-self: end;
}

.second-col {
    -ms-grid-column-align: start;
    justify-self: start;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__paragraph {
    margin-bottom: 20px;
    width: 272px;
}

.footer__list {
    margin-top: -5px;
}

.footer__item {
    margin: 0 0 10px;
}

.footer__item:last-child {
    margin: 0;
}

.footer__link {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
    z-index: 1;
}

.footer__link::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background-color: var(--bg-accent);
    border-radius: 50%;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.footer__link:hover::before {
    opacity: 1;
}

.footer__info-item {
    margin: 0 0 10px;
}

.footer__info-item:last-child {
    margin: 0;
}

.footer__info-item img {
    margin-right: 8px;
}

.footer__info-item span {
    text-transform: uppercase;
}

.footer__info-item span:last-child {
    margin-left: 10px;
}

.footer__cont-consult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__cont-number {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 47px;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.footer__cont-number:hover {
    color: var(--bg-accent);
}

.footer__cont-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    color: #dec5b1;
    gap: 5px;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}

.socials__link path {
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.socials__link:hover path {
    fill: var(--bg-accent);
}