body {
    background-color: #141414;
    color: #fff;
    font-size: 30px;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: end;
    align-items: end;
    
}

.block {
    border-radius: 10px;
    width: 50vw;
    height: 100px;
    background-color: #ffffff;

}

.white {
    position: fixed;
    right: 50px;
    bottom: 100px;
}

.red {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius: 100%;
}